*{
	margin: 0;
	padding: 0;
}

body{
	border: 1px dotted black;
}

.squares{
	margin-top:0; padding: 0;
	height: 16px; 
	width: 16px;
	float: left;
}

.canvasContainer{
	position: relative;
	display: inline-block;
	height: 800px;
	width: 800px;/*Needs to be wide enough to contain canvas + paint menu*/
	border: 1px solid black;
}

.paintMenu{
	display:inline-block;
	position: absolute;
	border: 1px dotted black;
}

label{
	display: block;
	height: 30px;
	width: 30px;
	margin: 4px;
}

label:hover{
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.85);
}

input[type=radio] {
	display: none;
}