*{
	margin: 0;
	padding: 0;
}

.squares{
	margin-top:0; padding: 0;
	height: 16px; 
	width: 16px;
	float: left;
}

.canvasContainer{
	height: 1000px;
	width: 800px;
	border: 1px solid black;
}

.paintMenu{
	bottom: 0;
}

.paintMenu .colourRadio{
	height: 15px;
	width: 15px;
	float: left;
}